@import url("font-awesome/css/font-awesome.min.css");

html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: black;
    background-color: white;
    font-family: work sans;
    text-align: justify;
}

@media (max-width: 600px) {
    body {
        text-align: left;
    }
}

.navbar-fixed {
    z-index: 1; 
}

nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-bottom: 1px dotted grey;
    box-shadow: 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    float: none;
}

nav ul li a {
    display: inline-block;
    color: black;
    text-transform: uppercase;
    padding: 0 30px;
}

.header {
    background: url(img/bg5.png);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    height: 100%;
    width: 100%;
    padding-top: 115px;
    position: absolute;
    top: 0px;
    text-align: center;
}

.whitespace {
    height: 100%;
}

.section {
    line-height: 1.9em;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-avatar {
    height: 200px;
    transform: rotate(1deg);
    border-radius: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.15);
}

.transition {
    height: 100%;
    width: 100%;
    min-height: 500px;
    display: inline-flex;
    padding: 100px;
}

.transition-1 {
    background-image: url(project-1.png);
    background-image: radial-gradient(circle at 70% 70%,rgba(0,0,0,0.1),rgba(0,0,0,0.35)),url(img/project-1.png);
    background-size: cover;
    background-attachment: fixed;
}

.transition-2 {
    background-image: url(project-2.png);
    background-image: radial-gradient(circle at 70% 70%,rgba(0,0,0,0.1),rgba(0,0,0,0.35)),url(img/project-2.png);
    background-size: cover;
    background-attachment: fixed;
}

.videos {
    margin-left: -11px;
}

.video-1, .video-2 {
    border: 0;
    width: 100vw;
    height: 55.5vw;
}

.video-1 {
    margin-bottom: 35px;
}

@media (min-width: 992px) {
    .header {
        padding-top: 120px;
    }
    
    .whitespace {
        height: 90%;
    }
}

@media (min-width: 600px) {
    .video-1, .video-2 {
        width: 50vw;
        height: 28vw;
        margin: 0px;
    }
}

.fa {
    font-size: 2.2em;
    color: black;
    margin: auto 13px;
}

.fa:hover {
    color: darkblue;
}

footer {
    color: black;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px dotted grey;
}